<br>
 <div class="jumbotron pink">
  <h1>Jake It Off!</h1>
   <h3>Build smart To-Do lists that keep you on track.</h3>
   <p>Check it off, or it will be removed automatically after 7 days!</p>

   <p>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
   </p>

 </div>
